# Perkenalan

In [ ]:
'''
==============================================================================================================
Milestone 1

Nama  : Anis Ahmad Zou
Batch : CODA-RMT-010

Program ini dibuat untuk melakukan web scraping dari sebuah website dan menjadikannya sebuah DataFrame bersih
==============================================================================================================
'''

# A. Extract

## Melakukan import pada pandas, bs4 serta selenium agar dapat menggunakan pandas, BeautifulSoup dan Selenium

In [175]:
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
import requests

*   **import pandas as pd** digunakan untuk memanggil library pandas agar dapat digunakan pada program, serta merubah nama pandas menjadi pd agar lebih mudah digunakan

*   **from bs4 import BeautifulSoup** digunakan untuk memanggil BeautifulSoup dari library bs4, agar dapat melakukan parsing dari html lebih

*   **from selenium import webdriver** digunakan untuk memanggil webdriver dari Selenium, agar dapat mengontrol chrome secara otomatis.

*   **import requests** digunakan untuk memanggil library requests, agar dapat mengirim http request kepada sebuah website agar dapat mengambil kontennya (scraping)

## Melakukan Webscraping terhadap website

In [176]:
import time
driver = webdriver.Chrome()
nama_toko = []
nama_produk = []
harga_produk = []
jumlah_review = []
banyak_ukuran = []

for halaman in range(1,11):
    weblink = f'https://www.sephora.co.id/categories/fragrance?page={halaman}'
    driver.get(weblink)
    time.sleep(5)
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')


    for kotak in soup.find_all('div', {'class':'products-card-container'}):
        try:
            nama_toko.append(kotak.find('div', {'class':'brand'}).get_text())
        except:
            nama_toko.append(None)
            
        try:
            harga_produk.append(kotak.find('span', {'class':'sell-price'}).get_text())
        except:
            harga_produk.append(None)

        try:
            nama_produk.append(kotak.find('div', {'class':'product-name'}).get_text())
        except:
            nama_produk.append(None)
        
        try:
            jumlah_review.append(kotak.find('span', {'class':'reviews-count'}).get_text())
        except:
            jumlah_review.append(None)

        try:
            banyak_ukuran.append(kotak.find('div', {'class':'variants-count'}).get_text())
        except:
            banyak_ukuran.append(None)
            
driver.close()



*   Import time digunakan untuk memanggil modul time, agar program bisa melakukan jeda dengan time.sleep()

*   driver = webdriver.Chrome() digunakan untuk membuka browser Google Chrome secara otomatis menggunakan Selenium WebDriver.

*   List kosong digunakan untuk menampung hasil scraping yang akan dilakukan

*   Looping for halaman digunakan untuk melakukan perulangan dari halaman 1 sampai 10 saat mengambil data pada produk

*   weblink = '  ' digunakan untuk memberikan link yang ingin dibuka

*   driver.get(weblink) digunakan untuk membuka halaman yang diinginkan

*   time.sleep(10) digunakan untuk memberikan jeda selama 10 detik per halaman agar data bisa ditarik dan tidak langsung berpindah halaman

*   html = driver.page_source digunakan untuk mengambil seluruh kode HTML dari halaman yang sedang terbuka

*   soup = BeautifulSoup(html, 'html.parser') digunakan untuk mengubah kode html agar dapat memudahkan mencari class tertentu

*   soup.find_all('div', {'class' : '  '}) digunakan untuk mencari semua kotak produk berdasarkan class tertentu

*   try...except digunakan untuk menghindari error jika data tidak ada, jika data tidak ada maka akan mengisinya dengan none, dan jika data ada maka akan mengambil teksnya menggunakan .get_text()

*   driver.close() digunakan untuk menutup browser Chrome setelah proses scraping selesai.

*   df = pd.DataFrame() digunakan untuk membuat sebuah dataframe kosong menggunakan pandas

*   df['nama kolom'] = 'nama variable' digunakan untuk mengisi setiap dataframe dengan data yang baru didapat dari scraping

## Membuat dataframe dari data yang telah diambil dari webscraping

In [ ]:
df = pd.DataFrame()
df['nama_toko'] = nama_toko
df['nama_produk'] = nama_produk
df['harga_produk'] = harga_produk
df['jumlah_review'] = jumlah_review
df['banyak_ukuran'] = banyak_ukuran

print(df)

            nama_toko                                        nama_produk  \
0                 MCM                        MCM Collection Jolly Rabbit
1       Armani Beauty  Stronger With You Intensely Pour Homme Eau De ...
2       Armani Beauty              ARMANI MY WAY CHIC SUMMER MOMENTS SET
3       Armani Beauty                                   Si Eau De Parfum
4       Armani Beauty                                Acqua Di Giò Parfum
..                ...                                                ...
435            Kayali             Eden Sparkling Lychee 39 Eau De Parfum
436            Kayali         Lovefest Burning Cherry | 48 Eau de Parfum
437  L'Atelier Parfum                                       Arme Blanche
438   Burberry Beauty                                        Hero Parfum
439  Jo Malone London                Cypress & Grapevine Cologne Intense

     harga_produk             jumlah_review              banyak_ukuran
0    Rp 2.680.000                      None                       None
1    Rp 2.250.000                      None                       None
2    Rp 2.850.000                      None                       None
3    Rp 2.990.000                      None                       None
4    Rp 1.700.000                      None                       None
..            ...                       ...                        ...
435  Rp 2.650.000   \n        (987)\n        \n        3 sizes\n
436  Rp 1.980.000  \n        (1011)\n        \n        2 sizes\n
437    Rp 699.000    \n        (21)\n        \n        3 sizes\n
438  Rp 3.294.000   \n        (563)\n        \n        2 sizes\n
439    Rp 575.000   \n        (164)\n        \n        3 sizes\n

[440 rows x 5 columns]

*  menggunakan df = pd.DataFrame() untuk membuat sebuah dataframe dengan menggunakan pandas dan diberi nama df
*  menggunakan df['nama kolom yang diinginkan'] = 'nama variabel kolom yang sudah dibuat' untuk memasukan data kedalam dataframe

## Menampilkan dataframe dan dataframe info

In [ ]:
## menggunakan df untuk menampilkan dataframe secara keseluruhan
df

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,Rp 2.680.000,None,None
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,Rp 2.250.000,None,None
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,Rp 2.850.000,None,None
3,Armani Beauty,Si Eau De Parfum,Rp 2.990.000,None,None
4,Armani Beauty,Acqua Di Giò Parfum,Rp 1.700.000,None,None
...,...,...,...,...,...
435,Kayali,Eden Sparkling Lychee 39 Eau De Parfum,Rp 2.650.000,\n (987)\n,\n 3 sizes\n
436,Kayali,Lovefest Burning Cherry | 48 Eau de Parfum,Rp 1.980.000,\n (1011)\n,\n 2 sizes\n
437,L'Atelier Parfum,Arme Blanche,Rp 699.000,\n (21)\n,\n 3 sizes\n
438,Burberry Beauty,Hero Parfum,Rp 3.294.000,\n (563)\n,\n 2 sizes\n
439,Jo Malone London,Cypress & Grapevine Cologne Intense,Rp 575.000,\n (164)\n,\n 3 sizes\n

In [ ]:
## menggunakan df.info() untuk mencetak info terkait dataframe, dimulai dari nama kolom, missing value dan tipe datanya
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nama_toko      440 non-null    object
 1   nama_produk    440 non-null    object
 2   harga_produk   440 non-null    object
 3   jumlah_review  319 non-null    object
 4   banyak_ukuran  207 non-null    object
dtypes: object(5)
memory usage: 17.3+ KB

## Menyimpan Dataframe kotor kedalam CSV

In [ ]:
## menggunakan df.to_csv untuk menyimpan dataframe df kedalam file csv
df.to_csv('coda_P0M1_aniszou_raw.csv',index=False)


# B. Transform

## Melakukan Eksplorasi data sederhana

In [ ]:
## menggunakan df.head() untuk memperlihatkan 5 data pertama pada dataframe
df.head()

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,Rp 2.680.000,None,None
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,Rp 2.250.000,None,None
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,Rp 2.850.000,None,None
3,Armani Beauty,Si Eau De Parfum,Rp 2.990.000,None,None
4,Armani Beauty,Acqua Di Giò Parfum,Rp 1.700.000,None,None

In [ ]:
## menggunakan df.info() untuk melihat keterangan terkait dataframe {nama kolom, tipe data dan missing value}
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nama_toko      440 non-null    object
 1   nama_produk    440 non-null    object
 2   harga_produk   440 non-null    object
 3   jumlah_review  319 non-null    object
 4   banyak_ukuran  207 non-null    object
dtypes: object(5)
memory usage: 17.3+ KB

In [ ]:
## menggunakan df.shape untuk mengetahui ukuran dari dataframe yaitu jumlah kolomnya dan jumlah rownya
df.shape

(440, 5)

## Membersihkan data pada kolom harga_produk

In [ ]:
# Menghilangkan Rp dari dan tanda titik "." dari kolom harga_produk dengan menggunakan .str.replace('yang ingin dirubah', 'dirubah menjadi apa')
df['harga_produk'] = df['harga_produk'].str.replace('Rp', '')
df['harga_produk'] = df['harga_produk'].str.replace('.', '')


## menggunakan df.head(10) untuk mencetak 10 data pertama pada dataframe
df.head(10)

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,2680000,None,None
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,2250000,None,None
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,2850000,None,None
3,Armani Beauty,Si Eau De Parfum,2990000,None,None
4,Armani Beauty,Acqua Di Giò Parfum,1700000,None,None
5,Armani Beauty,Stronger With You Parfum,2485000,None,None
6,Armani Beauty,My Way Le Parfum,2255000,None,None
7,Ferragamo,FIAMMA,1380000,None,None
8,Jo Malone London,Cologne Discovery Collection Set,375000,\n (221)\n,None
9,Kylie Cosmetics,Cosmic 2.0 Eau De Parfum,990000,\n (32)\n,\n 4 sizes\n

## Membersihkan data pada kolom jumlah_review

In [ ]:
# Menghilangkan \n, "(" dan ")" dari kolom jumlah_review dengan menggunakan .str.replace('yang ingin dirubah', 'dirubah menjadi apa')
df['jumlah_review'] = df['jumlah_review'].str.replace('\n', '')
df['jumlah_review'] = df['jumlah_review'].str.replace('(', '')
df['jumlah_review'] = df['jumlah_review'].str.replace(')', '')


## menggunakan df.head(10) untuk mencetak 10 data pertama pada dataframe
df.head(10)

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,2680000,None,None
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,2250000,None,None
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,2850000,None,None
3,Armani Beauty,Si Eau De Parfum,2990000,None,None
4,Armani Beauty,Acqua Di Giò Parfum,1700000,None,None
5,Armani Beauty,Stronger With You Parfum,2485000,None,None
6,Armani Beauty,My Way Le Parfum,2255000,None,None
7,Ferragamo,FIAMMA,1380000,None,None
8,Jo Malone London,Cologne Discovery Collection Set,375000,221,None
9,Kylie Cosmetics,Cosmic 2.0 Eau De Parfum,990000,32,\n 4 sizes\n

## Membersihkan data pada kolom banyak_ukuran

In [ ]:
# Menghilangkan \n, sizes dan types dari kolom banyak_ukuran dengan menggunakan .str.replace('yang ingin dirubah', 'dirubah menjadi apa')
df['banyak_ukuran'] = df['banyak_ukuran'].str.replace('\n', '')
df['banyak_ukuran'] = df['banyak_ukuran'].str.replace('sizes', '')
df['banyak_ukuran'] = df['banyak_ukuran'].str.replace('types', '')


## menggunakan df.head(10) untuk mencetak 10 data pertama pada dataframe
df.head(10)

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,2680000,None,None
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,2250000,None,None
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,2850000,None,None
3,Armani Beauty,Si Eau De Parfum,2990000,None,None
4,Armani Beauty,Acqua Di Giò Parfum,1700000,None,None
5,Armani Beauty,Stronger With You Parfum,2485000,None,None
6,Armani Beauty,My Way Le Parfum,2255000,None,None
7,Ferragamo,FIAMMA,1380000,None,None
8,Jo Malone London,Cologne Discovery Collection Set,375000,221,None
9,Kylie Cosmetics,Cosmic 2.0 Eau De Parfum,990000,32,4

## Merubah tipe data pada kolom harga_produk, jumlah_review dan banyak_ukuran menjadi Integer

In [ ]:
# Merubah tipe data dari kolom harga_produk, kolom jumlah_review dan kolom banyak_ukuran menggunakan .astype("Tipe data yang diinginkan")
df['harga_produk'] = df['harga_produk'].astype("Int64")
df['jumlah_review'] = df['jumlah_review'].astype("Int64")
df['banyak_ukuran'] = df['banyak_ukuran'].astype("Int64")


## menggunakan df untuk mencetak dataframe secara keseluruhan
df

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,2680000,<NA>,<NA>
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,2250000,<NA>,<NA>
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,2850000,<NA>,<NA>
3,Armani Beauty,Si Eau De Parfum,2990000,<NA>,<NA>
4,Armani Beauty,Acqua Di Giò Parfum,1700000,<NA>,<NA>
...,...,...,...,...,...
435,Kayali,Eden Sparkling Lychee 39 Eau De Parfum,2650000,987,3
436,Kayali,Lovefest Burning Cherry | 48 Eau de Parfum,1980000,1011,2
437,L'Atelier Parfum,Arme Blanche,699000,21,3
438,Burberry Beauty,Hero Parfum,3294000,563,2
439,Jo Malone London,Cypress & Grapevine Cologne Intense,575000,164,3

## Merubah missing value menjadi integer pada kolom jumlah_review dan banyak_ukuran

In [ ]:
# menggunakan .fillna( ).astype("tipe data yang diinginkan") untuk mengisi missing value dan merubah tipe datanya
df['jumlah_review'] = df['jumlah_review'].fillna(0).astype("Int64")
df['banyak_ukuran'] = df['banyak_ukuran'].fillna(1).astype("Int64")


## menggunakan df.head() untuk menampilkan dataframe secara keseluruhan
df.head()

,nama_toko,nama_produk,harga_produk,jumlah_review,banyak_ukuran
0,MCM,MCM Collection Jolly Rabbit,2680000,0,1
1,Armani Beauty,Stronger With You Intensely Pour Homme Eau De ...,2250000,0,1
2,Armani Beauty,ARMANI MY WAY CHIC SUMMER MOMENTS SET,2850000,0,1
3,Armani Beauty,Si Eau De Parfum,2990000,0,1
4,Armani Beauty,Acqua Di Giò Parfum,1700000,0,1

## Melakukan pengecekan terhadap tipe data yang sudah dirubah

In [ ]:
## menggunakan df.info() untuk melakukan pengecekan terhadap tipe data yang sudah dirubah
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   nama_toko      440 non-null    object
 1   nama_produk    440 non-null    object
 2   harga_produk   440 non-null    Int64
 3   jumlah_review  440 non-null    Int64
 4   banyak_ukuran  440 non-null    Int64
dtypes: Int64(3), object(2)
memory usage: 18.6+ KB

## Menyimpan Dataframe bersih menjadi csv

In [ ]:
## menggunakan df.to_csv untuk menyimpan dataframe df kedalam file csv
df.to_csv('coda_P0M1_aniszou.csv',index=False)